#result1, #result2, #result3, #result4 {
  display: none;
}

.radio {
  padding-left: 16px;
}

button {
  float: right;
  margin: 40px;
}

body {
  background-image: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1539582475000/photosp/e6c8a82c-7801-451e-ba23-164d443a04d6/stock-photo-technology-screen-background-computer-data-code-programming-coding-software-e6c8a82c-7801-451e-ba23-164d443a04d6.jpg");
}

.container {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffe6ff;
  font-family: 'Roboto';
  border-width: 1px;
  border: solid #00e6e6;
  border-radius: 20px;
}

h1 {
  font-family: courier;
  text-align: center;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: dotted #00e6e6;
  border-radius: 20px;
  border-width: 5px;
  background-color: black;
  color: #ff1a75;
}

h4 {
  padding: 15px;
}

#quiz {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
  font-family: courier;
}

#underscore {
  color: #ffe6b3;
}

img {
  display: block;
  max-width: 90%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 40px;
  border-width: 5px;
  border: solid #00e6e6;
  border-radius: 20px;
}
